{% extends 'base/base.html' %}

{% block css %}
{#    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>#}
{#    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>#}
    <link href="/static/css/bootstrap-social" media="screen" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

{% block login %}
    <div class="container login">
        <div class="col-md-4 col-md-offset-4">
            <div class="padded">
                <div class="login box" style="margin-top: 80px;">
                    <div class="box-header">
                        <span class="title">Login</span>
                    </div>
                    <div class="box-content padded">
                        <form class="separate-sections" action="{{ login_passwordless_path }}" method="post">
                            <div class="input-group addon-left">
                                <span class="input-group-addon">
                                  <i class="icon-user"></i>
                                </span>
                                <input type="email" name="email"  placeholder="usuário">
                            </div>
                            {#<div class="input-group addon-left">
                                <span class="input-group-addon">
                                  <i class="icon-key"></i>
                                </span>
                                <input type="password" placeholder="senha">
                            </div>#}
                            <div>
                                <button class="btn btn-blue btn-block" type="submit">
                                    Login <i class="icon-signin"></i>
                                </button>
                            </div>
                            {{ csrf_input() }}
                        </form>
                        <div class="text-center block">
                            <a href="sign_up.html">
                                Não tem uma conta? <strong>cadastre-se</strong>
                            </a>
                        </div>
                        <h5 class="text-center">ou</h5>
                        <div>
                            <p class="block">
                                <a href="{{ login_google_path }}"
                                   class="btn btn-social btn-google-plus btn-block">
                                    <i class="fa fa-google-plus"></i>
                                    Google
                                </a>
                            </p>
                            <button class="btn btn-facebook btn-block" onclick="fb_login();">
                                <i class="icon-facebook-sign"></i>
                                Facebook
                            </button>
                            <form id="fbform" action="{{ login_facebook_path }}" method="post">
                                {{ csrf_input() }}
                                <input id="tokeninput" type="hidden" name="token"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var checkFacebookLogin = function () {
            var fbform = $('#fbform');
            var tokeninput = $('#tokeninput');
            return function (token) {
                tokeninput.val(token);
                fbform.submit();
            }

        }();
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                checkFacebookLogin(response.authResponse.accessToken);
            }
        }

        function fb_login() {
            FB.login(statusChangeCallback, {
                scope: 'public_profile,email'
            });
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '{{faceapp.app_id if faceapp}}',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.0' // use version 2.0
            });
        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}